/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;

  background-color: lightcyan;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.form{
  display: flex;
  justify-content: center;
  margin: 32px 0 40px;
  gap: 8px;
}
.input{
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  box-sizing: border-box;
  border-radius: 4px;
  background: #FFF;
  color:#2E2F42;
  border: 1px solid #808080;
}

.input:hover{
  border: 1px solid #000;
}
.input:focus{
  outline: none;
  border: 1px solid #4E75FF;
}

.button{
  width: 91px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: 0.04em;
  border:none;
  border-radius: 8px;
  background: #4E75FF;
}
.button:hover{
  background: #6C8CFF;
}
.element{
  border: 2px solid #000;
  border-radius: 4px;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.image{
  width: 360px;
  height: 200px;
}
.stat{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.container-stat{
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 12px;
}




.button-load-more{
  width: 125px;
  height: 40px;
  display: flex;
  padding: 8px 16px;
  margin: 32px auto 0;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  background: #4E75FF;
  border: none;
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button-load-more:hover, .button-load-more:focus{
  background: #6C8CFF;
}
.button-load-more.search{
  display: none;
}
.loader.search{
  visibility: hidden;
}
.loader {
  margin-top: 24px;
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: relative;
  left: 49%;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 
